<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('../fragmente/head', { title: title }) %>
  </head>
  <body>
    <%- include('../fragmente/header') %>

    <main>
      <section>
        <h2>Eroare 404</h2>
        <p>Pagina "<%= pagina %>" nu exista.</p>
      </section>
    </main>

    <%- include('../fragmente/footer') %>
  </body>
</html>
