<footer id="subsol">
  <small>
    &copy; Iverson Era. Pagina creata pe <time datetime="2026-03-01">1 Martie 2026</time>.
  </small>
  <p class="proiect-scolar">Acesta este un proiect scolar!</p>
</footer>
