<footer id="subsol">
    <a href="#welcome" title="Întoarce-te la începutul paginii" id="link-top">
        <div id="sageata">&#8593;</div>
    </a>
    <address>
        Adresa: <a href="https://maps.app.goo.gl/3dxxaRQ6sMj9tECo6" target="_blank">
            Strada Baschetului, nr. 3, București, sector 1,<br>
            România
        </a><br>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d620.0255423922193!2d26.10006505001261!3d44.43544464288907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1772893490272!5m2!1sro!2sro"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe><br>
        E-mail: <a href="mailto:contact@iverson-era.ro">contact@iverson-era.ro</a><br>
        Telefon: <a href="tel:+40749410607">0749 410 607</a><br>
        Chat: <a href="https://wa.me/40749410607" target="_blank">Contactează-ne pe WhatsApp</a>
    </address>
    <small>
        &copy; Iverson Era. Pagină creată pe <time datetime="2026-03-01">1 Martie 2026</time>.
    </small>
    <p class="proiect-scolar">Acesta este un proiect școlar!</p>
</footer>
