<meta charset="UTF-8" />
<meta name="author" content="Andrei Eduard Rosu" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
	name="description"
	content="Iverson Era este un magazin online dedicat pasionatilor de baschet si streetwear."
/>
<meta
	name="keywords"
	content="NBA, tricou, baschet, sneakers, streetwear, magazin online, adidasi"
/>
<meta name="msapplication-TileColor" content="black" />
<title><%= title %></title>
<link rel="icon" type="image/png" href="/src/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/src/images/favicon/favicon.svg" />
<link rel="shortcut icon" href="/src/images/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/src/images/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/src/images/favicon/site.webmanifest" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Boldonse&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

<link rel="stylesheet" href="/src/css/reset.css" />
<link rel="stylesheet" href="/src/css/general.css" />
<link rel="stylesheet" href="/src/css/nav.css" />
<link rel="stylesheet" href="/src/css/print.css" media="print" />
