<header>
    <h1>Iverson Era</h1>
    <nav id="main-nav">
        <input type="checkbox" id="ch-menu" />

        <label for="ch-menu" id="hamburger" aria-label="Deschide meniul principal">
            <i class="fa-solid fa-bars"></i>
            <span class="menu-text">Meniu</span>
        </label>

        <ul class="meniu">
            <li>
                <a href="/" class="menu-link">
                    <i class="fa-solid fa-house menu-icon"></i>
                    <span class="menu-text">Acasă</span>
                </a>
                <ul class="submenu">
                    <li><a href="#welcome">Bun venit</a></li>
                    <li><a href="#orar">Program</a></li>
                    <li><a href="#calendar">Calendar</a></li>
                    <li><a href="#anunturi">Anunțuri</a></li>
                </ul>
            </li>

            <li>
                <a href="/produse" class="menu-link">
                    <i class="fa-solid fa-layer-group menu-icon"></i>
                    <span class="menu-text">Produse</span>
                </a>
                <ul class="submenu">
                    <li><a href="/adidasi">Adidași</a></li>
                    <li><a href="/imbracaminte">Îmbrăcăminte</a></li>
                    <li><a href="/accesorii">Accesorii</a></li>
                    <li><a href="/marci">Mărci</a></li>
                </ul>
            </li>

            <li>
                <a href="#noutati" class="menu-link">
                    <i class="fa-solid fa-layer-group menu-icon"></i>
                    <span class="menu-text">Noutăți</span>
                </a>
                <ul class="submenu">
                    <li><a href="#intro">Despre Noi</a></li>
                    <li><a href="#lansari">Lansări Noi</a></li>
                    <li><a href="#promotii">Promoții</a></li>
                    <li><a href="#produse">Produse</a></li>
                    <li><a href="#index-intrebari">FAQ</a></li>
                </ul>
            </li>

            <li>
                <a href="/oferte" class="menu-link">
                    <i class="fa-solid fa-tags menu-icon"></i>
                    <span class="menu-text">Oferte</span>
                </a>
            </li>

            <li class="menu-right">
                <a href="/cos" class="menu-link">
                    <i class="fa-solid fa-basket-shopping menu-icon"></i>
                    <span class="menu-text">Coș</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
