:root {
    --reset-zero: 0;
    --reset-base-size: 100%;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    line-height: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time {
    margin: var(--reset-zero);
    padding: var(--reset-zero);
    border: var(--reset-zero);
    font-size: var(--reset-base-size);
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: var(--reset-zero);
}